<!DOCTYPE html>
<head>
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <script src="https://kit.fontawesome.com/0c0d4d1ec1.js" crossorigin="anonymous"></script>
    <title>SwimS Login</title>
</head>
<body>
    <div class="home-container">
        <nav>
            <header class="nav-logo-header">

            </header>
            <section>
                
            </section>
        </nav>
        <main>
            <header class="dashboard-header">

            </header>
            <section class="dashboard-content">
                <header class="dashboard-controls">
                    <i class="fa-solid fa-plus"></i>
                </header>
            </section>
        </main>
    </div>
</body>