<!DOCTYPE html>
<head>
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <title>SwimS Login</title>
</head>
<body>
    <div class="container">
        <div class="logo">
            <div class="logo-header">
                Unlseash Your Productivity with:
            </div>
            <div class="logo-text">
                SwimS
            </div>
            <img src="../images/box-s.png">
            <div class="logo-footer">
                Ultimate minimalistic Inventory Management System for your storage needs!
            </div>
        </div>
        <div class="login-container">
            <form>
                <input name="email" type="text" placeholder="email@example.com">
                <input name="password" type="password" placeholder="password">
                <button>Log In</button>
            </form>
        </div>
    </div>
</body>