.container{
    width: 100vw;
    height: 100vh;
    background: #666;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.logo{
    background: #888;
    width: 20vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 0.5cm;
    border-radius: 0.3cm;
    color: #333;
    padding-left: 0.3cm;
    padding-right: 0.3cm;
}

.logo-img{
    width: 20vh;
}

.login-container{
    background: #888;
    width: 20vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 1em;
    padding-bottom: 1em;
    margin-left: 0.5em;
    border-radius: 0.5em;
    color: #333;
}

.logo-header{
    padding-top: 1em;
    text-align: center;
    font-weight: bold;
    font-size: 2em;
}

.logo-text{
    text-align: center;
    font-weight: bold;
    font-size: 4em;
    font-family: 'Courier New', Courier, monospace;
}

.logo-footer{
    text-align: center;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
}

.login-form{
    display: flex;
    flex-direction: column;
    width: 50%;
}

.login-header{
    margin-bottom: 0.5em;
    font-weight: bold;
    font-size: 2em;
}
.login-text{
    margin-top: 0.5em;
}
.login-footer{
    margin-top: 0.5em;
    font-size: 0.7em;
}

@media only screen and (max-device-width: 780px){
    .container{
        flex-direction: column;
        font-size: 24px;
    }
    .login-container{
        width: 90%;
        margin: auto;
        margin-top: 1em;
        margin-bottom: 0em;
    }
    .logo{
        width: 90%;
        margin:auto;
        margin-top: 1em;
        margin-bottom: 0em;
        padding-left: 0px;
        padding-right: 0px;
    }
    .login-form input{
        height: 3em;
        border-radius: 0.3em;
        border: none;
        margin-bottom: 1em;
    }
    .login-form button{
        height: 3em;
    }
}